<!DOCTYPE html>

{% load static %}

<html>
	<head>
		<title>Sadat Enterprise</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'css/main2.css' %}">
		<link rel="stylesheet" href="{% static 'images' %}">
	</head>
	<body>

		<!-- Header -->
		<header id="header" class="alt">
			<div class="logo"><a href="/home/"> Go to SADAT.INFO <span>HOEMPAGE</span></a></div>
			<a href="#menu">Menu</a>
		</header>

	<!-- Nav -->
		<nav id="menu">
			<ul class="links">
				<li><a href="index.html">Home</a></li>
				<li><a href="#">Motorcycle Parts</a></li>
				<li><a href="#">Padlock</a></li>
				<li><a href="#">Cutting Blade</a></li>
				<li><a href="#">Drill Bits</a></li>
				<li><a href="#">Engine Oil</a></li>
				<li><a href="#">Flexi Load</a></li>
				<li><a href="https://sadat.info">Go to sadat.info</a></li>
		</nav>

		<!-- Banner -->
			<section class="banner full">
				<article>
					<!-- <img src="images/slide01.jpg" alt="" /> -->
					<img src=" {% static 'images/slide01.jpg'%}" alt="something went wrong">
					<div class="inner">
						<header>
							<p>Welcome to SADAT Enterprise <a href="https://sadat.info"> || SADAT INFO</a></p>
							<h2>Motorcycle Parts</h2>
						</header>
					</div>
				</article>
				<article>
					<img src=" {% static 'images/slide02.jpg'%}" alt="something went wrong">
					<div class="inner">
						<header>
							<p>Welcome to SADAT Enterprise <a href="https://sadat.info"> || SADAT INFO</a></p>
							<h2>Padlock</h2>
						</header>
					</div>
				</article>
				<article>
					<img src=" {% static 'images/slide03.jpg'%}" alt="something went wrong">
					<div class="inner">
						<header>
							<p>Welcome to SADAT Enterprise <a href="https://sadat.info"> || SADAT INFO</a></p>
							<h2>Drill Bits</h2>
						</header>
					</div>
				</article>
				<article>
					<img src=" {% static 'images/slide04.jpg'%}" alt="something went wrong">
					<div class="inner">
						<header>
							<p>Welcome to SADAT Enterprise <a href="https://sadat.info"> || SADAT INFO</a></p>
							<h2>Cutting Blade</h2>
						</header>
					</div>
				</article>
				<article>
					<img src=" {% static 'images/slide05.jpg'%}" alt="something went wrong">
					<div class="inner">
						<header>
							<p>Welcome to SADAT Enterprise <a href="https://sadat.info"> || SADAT INFO</a></p>
							<h2>Hardware Items</h2>
						</header>
					</div>
				</article>
				<article>
					<img src=" {% static 'images/slide06.jpg'%}" alt="something went wrong">
					<div class="inner">
						<header>
							<p>Welcome to SADAT Enterprise <a href="https://sadat.info"> || SADAT INFO</a></p>
							<h2>Flexi Load</h2>
						</header>
					</div>
				</article>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style2">
				<div class="inner">
					<div class="grid-style">

						<div>
							<div class="box">
								<div class="image fit">									
									<img src=" {% static 'images/pic02.jpg'%}" alt="something went wrong">
								</div>
								<div class="content">
									<header class="align-center">
										<p>All kinds of Motorcycle parts are available</p>
										<h2>Motorcycle Parts</h2>
									</header>
									<p> You will get all kinds of motorcycle parts in our store. We provide original parts. If you require anything specile, you can ask for it. we will provide it to you</p>
									<footer class="align-center">
										<a href="#" class="button alt">Learn More</a>
									</footer>
								</div>
							</div>
						</div>

						<div>
							<div class="box">
								<div class="image fit">
									<img src=" {% static 'images/pic03.jpg'%}" alt="something went wrong">
								</div>
								<div class="content">
									<header class="align-center">
										<p>All popular Engine oills are available</p>
										<h2>Engine Oil</h2>
									</header>
									<p> You will get all kinds of motorcycle parts in our store. We provide original parts. If you require anything specile, you can ask for it. we will provide it to you</p>
									<footer class="align-center">
										<a href="#" class="button alt">Learn More</a>
									</footer>
								</div>
							</div>
						</div>

						<div>
							<div class="box">
								<div class="image fit">
									<img src=" {% static 'images/pic04.jpg'%}" alt="something went wrong">
								</div>
								<div class="content">
									<header class="align-center">
										<p>All kinds of padlocks are available</p>
										<h2>Various Padlock</h2>
									</header>
									<p> You will get all kinds of padlock in our store. We provide original one. If you require anything specile, you can ask for it. we will provide it to you</p>
									<footer class="align-center">
										<a href="#" class="button alt">Learn More</a>
									</footer>
								</div>
							</div>
						</div>

						<div>
							<div class="box">
								<div class="image fit">
									<img src=" {% static 'images/pic05.jpg'%}" alt="something went wrong">
								</div>
								<div class="content">
									<header class="align-center">
										<p>All kind of drill bits are available</p>
										<h2>Drill Bits</h2>
									</header>
									<p> You will get all kinds of drill bits in our store. We provide original parts. If you require anything specile, you can ask for it. we will provide it to you</p>
									<footer class="align-center">
										<a href="#" class="button alt">Learn More</a>
									</footer>
								</div>
							</div>
						</div>

						<div>
							<div class="box">
								<div class="image fit">
									<img src=" {% static 'images/pic06.jpg'%}" alt="something went wrong">
								</div>
								<div class="content">
									<header class="align-center">
										<p>All kinds of Cutting blades are available</p>
										<h2>Cutting Blade</h2>
									</header>
									<p> You will get all kinds of Cutting Blades in our store. We provide original parts. If you require anything specile, you can ask for it. we will provide it to you</p>
									<footer class="align-center">
										<a href="#" class="button alt">Learn More</a>
									</footer>
								</div>
							</div>
						</div>

						<div>
							<div class="box">
								<div class="image fit">
									<img src=" {% static 'images/pic07.jpg'%}" alt="something went wrong">
								</div>
								<div class="content">
									<header class="align-center">
										<p>GP, banglalink, Robi, airtel loads are available</p>
										<h2>Flexiload available </h2>
									</header>
									<p> We also give you Mobile Recharge facility from store. GP, banglalink, Robi, airtel loads are available. If you require anything specile, you can ask for it. we will provide it to you</p>
									<footer class="align-center">
										<a href="#" class="button alt">Learn More</a>
									</footer>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>We are commited to provide you maximum support</p>
						<h2>We are commited to provide you maximum support</h2>
					</header>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper style2">
				<div class="inner">
					<header class="align-center">
						<p class="special">Our shop is in front of Govt Boys High School</p>
						<h2>Welcome To Our Shop</h2>
					</header>
					<div class="gallery">
						<div>
							<div class="image fit">
								<a href="#"><img src=" {% static 'images/pic01.jpg'%}" alt="something went wrong" /></a>
								<!-- <a href="#"><img src="images/pic01.jpg" alt="" /></a> -->
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src=" {% static 'images/pic02.jpg'%}" alt="something went wrong" /></a>
							</div>
						</div>
						
						<div>
							<div class="image fit">
								<a href="#"><img src=" {% static 'images/pic03.jpg'%}" alt="something went wrong" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src=" {% static 'images/pic04.jpg'%}" alt="something went wrong" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src=" {% static 'images/pic05.jpg'%}" alt="something went wrong" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src=" {% static 'images/pic06.jpg'%}" alt="something went wrong" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src=" {% static 'images/pic07.jpg'%}" alt="something went wrong" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src=" {% static 'images/pic08.jpg'%}" alt="something went wrong" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src=" {% static 'images/pic09.jpg'%}" alt="image not found" /></a>
							</div>
						</div>						
					</div>
				</div>
			</section>


		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Sadat Enterprise. All rights reserved,2020.
				</div>
			</footer>

		<!-- Scripts -->
			<script src=" {% static 'js/jquery.min.js' %}"></script>
			<script src=" {% static 'js/jquery.scrollex.min.js' %}"></script>
			<script src=" {% static 'js/skel.min.js' %}"></script>
			<script src=" {% static 'js/util.js' %}"></script>
			<script src=" {% static 'js/main.js' %}"></script>
			

	</body>
</html>
